  <header>
    <a id="#top"></a>
    <nav>
      <ul> 
        <li {% if current_page == "/" %}current="page"{% endif %}><a href="/">AcroLib</a></li>
        <li {% if current_page == "about" %}current="page"{% endif %}><a href="/about">About</a></li>
        <li {% if current_page == "terminology" %}current="page"{% endif %}><a href="/terminology">Terminology</a></li>
        <li {% if current_page == "articles" %}current="page"{% endif %}><a href="/articles">Articles</a></li>
        <li {% if current_page == "calendar" %}current="page"{% endif %}><a href="/calendar">Calendar</a></li>
        <li {% if current_page == "community" %}current="page"{% endif %}><a href="/community">Community</a></li>
        <li {% if current_page == "downloads" %}current="page"{% endif %}><a href="/downloads">Downloads</a></li>
        <li {% if current_page == "links" %}current="page"{% endif %}><a href="/links">Links</a></li>
      </ul>
    </nav>  
  </header>
