<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="color-scheme">
        <title>{{site.title}} | {{page.title}}</title>
        <link rel="stylesheet" href="/styles.css">
        <!--<link rel="icon" type="image/x-icon" href="---.ico" />-->
    </head>
    
    <body>
      {% include header.html %}
      <main>
        {{ content }}
        <p class="up">
            <a href="#top">back to the top</a>
        </p>
      </main>
    </body>

    {% include footer.html %}

</html>

