<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{site.title}} | {{page.title}}</title>
        <link rel="stylesheet" href="style.css">
        <!--<link rel="icon" type="image/x-icon" href="---.ico" />-->
    </head>

    <header>
        {{site.title}}
    </header>
    
    <body>
         
      <main>
          {{ content }}
      </main>

    </body>
</html>

<style>

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* color-scheme: dark; */

  --black: #000;
  --dark: #1f1f1f;
  --darker: #121212;
  --light: #dddddd;
}

body {
  font-style: Helvetica, arial, sans-serif;
}

ul {
  list-style: none;
}

ul li {
  padding: 0.5em;
}

hr {
  margin: 25px 0 50px;
}
    
</style>
